<div class="aabout_main_container">
<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nihil perferendis repellat
   quidem numquam sit necessitatibus asperiores maxime culpa quo! Cumque rerum dolorem voluptate
    mollitia blanditiis dolores dignissimos facilis laborum totam amet vero ducimus repellat
    voluptatem sit, voluptatum nostrum aperiam vitae omnis placeat expedita dicta! Iste quae ex
    debitis delectus, eligendi officiis magnam, doloribus error voluptates eaque tenetur quis
     provident repellendus nesciunt? Quidem, dignissimos totam explicabo nulla quisquam nisi
     obcaecati animi quas reprehenderit vitae unde sit alias dolor doloremque nobis laboriosam hic,
     tempore similique, aut doloribus. Quam beatae quibusdam totam sed voluptatum nisi pariatur?
      Distinctio eligendi et delectus iusto neque ipsam esse recusandae omnis possimus quam harum,
       consequatur fugiat laboriosam totam qui consequuntur tenetur, sed rem quaerat eum! Ullam
       voluptatibus reiciendis quibusdam beatae earum vero? Magni reiciendis nostrum dolores labore
        consectetur tempora, dolorem autem non sequi est recusandae porro obcaecati. Dolore, odit.
         Alias, magnam voluptas nemo magni repudiandae tenetur corporis amet quam, ullam quo cum
          quaerat error asperiores ducimus voluptate! Nesciunt necessitatibus non porro tempora sunt

<button><a routerLink="/home">Go To Home</a></button>

<button><a routerLink="/courses">Go To Courses</a></button>

<!-- programatically how to navigate through the component -->

<button (click)="navigateToHome()">Click Here For Home</button>

<button (click)="navigateToContact()">Click Here For Contact(Using Navigate())</button>

<button (click)="navigateToContactByRelativePath()">Click Here For Contact (Go using Relative path)</button>
</p>
</div>

