<div class="contact_container">
<h1>Contact</h1>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, magni in! Dicta, facere beatae
 voluptas, qui quam tenetur totam magnam voluptate nesciunt, impedit reiciendis explicabo sunt?
 Omnis aliquid, veritatis iusto amet magnam officiis at commodi molestias repellendus ut, quidem
  obcaecati architecto adipisci. Tenetur impedit iusto quam voluptatem porro. Cupiditate aliquam
  doloremque quis sit reiciendis quasi, eligendi quo hic error blanditiis eum unde ratione ipsam
  veniam sunt magnam qui provident commodi neque suscipit dicta sint quia accusantium! Rem aperiam
   reprehenderit consectetur iusto ipsum! Esse, eos. Similique provident atque reprehenderit
    exercitationem assumenda molestias minima ipsum explicabo, distinctio esse veritatis iste maxime
    sapiente.
</p>
<button><a routerLink="/home">Go To Home</a></button>
</div>
