.main_container{
height: auto;
width: 100%;
background-color: rgb(141, 139, 139);
}

.nav{
height: 70px;
background-color: navy;
color: #fff;

}

.nav_container ul{
display: flex;
gap: 10px;
align-items: center;
justify-content: space-around;
}

li{
font-size: 20px;
margin-top: 20px;
list-style-type: none;
}

a
{
color: #fff;
text-decoration: none;
}
